*.swp

# Config with passwords
#config.js

# node_modules
node_modules

.backup/
#!.backup/

# To disable track file changes
#       git update-index --assume-unchanged <file>
# Enable track file changes
#       git update-index --no-assume-unchanged <file>
#
# Remove indexed file
#       git rm --cached path/to/file
